/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
  border: 1px solid #d8d4d4;
  border-collapse: collapse;
  background-color: #d8d4d4;
}
.responsiveTable th,
td {
  border: 1px solid #d8d4d4;
  background-color: #fff;
  border-collapse: collapse;
}





.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 1024px) {
  .responsiveTable {
    border-collapse: initial;
    border-radius: 0.5rem;
  }
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable tr:first-child td:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .responsiveTable tr:last-child td:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .responsiveTable tr:not(:first-of-type) {
    border-top: 1px #d8d4d4 solid;
  }
  .responsiveTable tr:not(:last-of-type) {
    margin-bottom: 1rem !important;
    border-bottom: 1px #d8d4d4 solid;
  }

  .responsiveTable thead tr {
    position: absolute;
    display: block;
    top: -9999px;
    left: -9999px;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none;
    position: relative;
    padding-left: 40% !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td.pivoted:not(:last-child) {
    /* Behave like a "row" */
    border-bottom: solid 1px #d8d4d4;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    /* Top/left values mimic padding */
    left: 0;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}
